/*-- scss:defaults --*/

@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap';

$font-family: "Roboto", sans-serif;
$font-family-serif: "Roboto", sans-serif;

.theme-toggle {
    position: fixed;
    top: 10px;
    right: 10px;
    background: var(--bs-body-bg);
    color: var(--bs-body-color);
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.3s ease-in-out;

    &:hover {
        background: var(--bs-secondary-bg);
    }
}

[data-bs-theme="dark"] .theme-toggle {
    background: var(--bs-dark);
    color: var(--bs-light);
}

/*-- scss:rules --*/
kbd,
.kbd {
    background-color: #f6f5f5 !important;
}

.navbar {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
