/*-- scss:defaults --*/

/* Import Computer Modern Unicode Serif */
@import url('https://cdn.jsdelivr.net/npm/computer-modern@1.0.0/cmun-serif.css');

$font-family: "CMU Serif", serif;
$font-family-serif: "CMU Serif", serif;

/*-- scss:rules --*/
kbd,
.kbd {
    background-color: #f6f5f5 !important;
}

.navbar {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
